@import "/styles/global.css";
@import "/styles/responsive.css";

:root {
	--section-icon: url(/media/icons/actriz.png);
}


.body__content {
	width: 100%;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 120px;
}

.group__section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 28px;
}

.members {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.crew__member {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 24px;
}

.member__photo {
	max-width: 100px;
	background-color: var(--font-color);
	border-radius: 50px;
	padding: 12px;
}

.member__photo img {
	width: 100%;
	
}

.member__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
}

.member__info h4 {
	text-transform: uppercase;
}


/* ---------------Responsive-------------- */


@media (min-width: 481px) {
    :root {

    }

	.group__section {
		width:700px;

	}

	.members {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.crew__member {
		flex:1;
	}
}


@media (min-width: 1024px) {
	:root {
		
	}

}


@media (min-width: 1440px) {
	:root {
		
	}
}

