@import "/styles/global.css";
@import "/styles/responsive.css";
@import "/styles/pages/utilities/forms.css";

:root {
	--section-icon: url(/media/icons/contacto.png);
}

main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 72px;
}

.form__activities {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}

@media (min-width: 481px) {
	:root {
	}

	.form__activities {
		display: flex;
		gap: 28px;
	}
}

@media (min-width: 1024px) {
	:root {
	}
}

@media (min-width: 1440px) {
	:root {
	}

	main {
		min-height: 88vh;
	}
}
