@import "/styles/global.css";
@import "/styles/responsive.css";

main {
	width: 100%;
}

.body__content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.record__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	gap: 16px;
}

.record__box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.record__play {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	border: 6px solid var(--primary-color);
	padding: 32px;
	border-radius: 16px;
}

.play__poster {
	max-width: 260px;
}

.play__poster img {
	width: 100%;
}

.play__datasheet {
	min-width: 50%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.play__info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.play__info p {
	font-size: var(--year-font-size);
}

.play__summary {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

@media (min-width: 481px) {
	:root 
	{
	}

	.record__play {
		flex-direction: row;
		align-items: flex-start;
	}

	.content-reverse {
		flex-direction: row-reverse;
	}

	.play__poster {
		max-width: 380px;
	}

	.play__datasheet {
		height: 100%;
	}

	.play__info {
		justify-content: flex-start;
	}
}

@media (min-width: 1024px) {
	:root {
	}
}

@media (min-width: 1440px) {
	:root {
	}
}
