*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--container-width: 90%;
	--primary-color: #0488a7;
	--secondary-color: #303030;
	--font-color: #fff;
	--title-size: 52px;
	--section-title-size: 36px;
	--play-title-size: 24px;
	--year-font-size: 20px;
	--synopsis-font-size: 20px;
	--parr-font-size: 18px;
	--parr-line-height: 1.3em;
	--section-icon: "";
}

h1 {
	font-family: "Bebas Neue";
	font-size: var(--title-size);
	letter-spacing: 4px;
}

h2 {
	font-family: "Bebas Neue";
	font-size: var(--section-title-size);
	letter-spacing: 4px;
	display: flex;
	align-items: stretch;
	text-align: center;
}

h2::before,
h2::after {
	content: "";
	background-image: var(--section-icon);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	display: inline-block;
	margin: 0 16px;
}

h3 {
	font-size: var(--play-title-size);
}

h4 {
	font-size: var(--synopsis-font-size);
}

p {
	font-size: var(--parr-font-size);
	line-height: var(--parr-line-height);
}

legend {
	border: 4px solid var(--primary-color);
	border-radius: 8px;
	padding: 12px;
	font-family: monospace;
	font-size: 18px;
	box-shadow: inset 0px 0px 10px 4px rgba(255, 255, 255, 0.6);
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

.divider {
	padding: 40px 0;
	border-bottom: 1px solid var(--font-color);
}

.body__content {
	width: 100%;
	background-color: var(--secondary-color);
	color: var(--font-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
}

.nav__not-mobile {
	width: 100%;
	display: none;
}

.nav__mobile {
	position: fixed;
	width: 100%;
	padding: 12px 0;
}

.nav__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #00000036;
	backdrop-filter: blur(20px);
	border-radius: 50px;
	padding: 0 20px;
}

.nav__logo {
	width: 60px;
}

.nav__logo img {
	width: 100%;
}

.hidden-menu {
	display: none;
}

input:checked ~ .hidden-menu {
	display: block;
}

#menu {
	display: none;
}

.menu__button {
	width: 40px;
}

.menu__button img {
	width: 100%;
}

.hidden-menu li {
	display: block;
	padding: 10px;
}

.highlighted {
	color: rgba(255, 166, 0, 0.874);
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#hero {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__content {
	width: 100%;
	height: 100%;
	background-image: url("/media/images/te-toca-adivinar-back.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.playing__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.playing__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.playing__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 16px;
}

.playing__image {
	max-width: 270px;
}

.playing__image img {
	width: 100%;
}

.playing__booking {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.booking__image {
	width: 24px;
}

.booking__image img {
	width: 100%;
}

#playing {
	width: 100%;
}

.playing__quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

#blog {
	width: 100%;
}

.blog__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.blog__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.blog__articles {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 28px;
}

.article {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.article__image {
	width: 100%;
	max-height: 260px;
	background-color: var(--font-color);
	border-radius: 16px;
}

.article__image img {
	width: 100%;
}

.article__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 40px 0;
}

#footer__legal {
	width: 100%;
}

.legal__content ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rrss__content ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.rrss__content ul li {
	width: 40px;
}

.rrss__content ul li a img {
	width: 100%;
}
