@media (min-width: 481px) {
	:root {
		--container-width: 90%;
		--title-size: 80px;
		--section-title-size: 48px;
		--play-title-size: 32px;
		--year-font-size: 26px;
		--synopsis-font-size: 24px;
		--parr-font-size: 22px; 
		--parr-line-height: 1.2em;
	}

	h1 {
		letter-spacing: 10px;
		margin-top: 128px;
	}

	.nav__mobile {
		display: none;
	}

	.nav__not-mobile {
		position: fixed;
		display: flex;
		justify-content: space-between;
		padding: 16px 0;
	}

	.nav__menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 24px 0;
		flex: 1;
	}

	.nav__menu ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex: 1;
	}

	.nav__search {
		height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav__searchbox {
		background-color: var(--primary-color);
		border: none;
		padding: 8px;
		border-top-left-radius: 14px;
		border-bottom-left-radius: 14px;
	}

	.nav__searchbox::placeholder {
		color: var(--font-color);
	}

	.search__button {
		background-color: var(--primary-color);
		width: 30px;
		padding: 8px;
		border-top-right-radius: 14px;
		border-bottom-right-radius: 14px;
	}

	.search__button img {
		width: 100%;
	}

	.hero__content {
		background-image: url("/media/images/eloisa-back.jpg");
	}

	.blog__content {
		gap: 40px;
	}

	.blog__articles {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px 20px;
	}

	.article {
		max-width: 100%;
	}

	.article__image {
		max-width: 320px;
	}

	.article__text {
		max-width: 320px;
	}
}

@media (min-width: 1024px) {
	:root {
		--container-width: 80%;
		--title-size: 100px;
		--section-title-size: 72px;
		--play-title-size: 52px;
		--year-font-size: 42px;
		--synopsis-font-size: 40px;
		--parr-font-size: 26px;
		--parr-line-height: 1.1em;
	}

	h1 {
		margin-top: -16px;
		letter-spacing: 18px;
	}

}

/* Media query para dispositivos de escritorio XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--container-width: 75%;
	}
}
